<h1><%= @doctor.name %></h1>
<hr />

<h2> Patients </h2>
<ul>
<% @doctor.patients.each do |doctor| %>
  <li>
    <%= link_to patient.full_name, patient %>
  </li>
<% end %>
</ul>

<br /><br /><br /><hr />
<%= link_to 'Delete Doctor', @doctor, method: :delete, class: "ui red button" %>
