<h1><%= @doctor.name %>: Appointments</h1>
<%= link_to 'Add New Appointment', new_doctor_appt_path(@doctor) %>

<h2>Doctor</h2>
<ul>
  <% @physicians.each do |p| %>
      <%= p.doctor.name %>
  <% end %>
</ul>

<h2> Patient </h2>
  <% @persons.each do |p| %>
    <%= p.patient.full_name %>
  <% end %>
<ul>
  <% %>
</ul>