<nav>
  <ul>
    <li><%= link_to 'All Doctors', doctors_path %></li>
    <li><%= link_to 'Add Doctor', new_doctor_path %></li>
    <li><%= link_to 'All Patients', patients_path %></li>
    <li><%= link_to 'Add Patient', new_patient_path %></li>
  </ul>
</nav>